

<div class="mt-4 p-5 bg-ligth text-dark rounded">
 <h1>Test Login</h1>
  <p>Nodejs, express, boostrap 5, passport</p> 

    {{#each user}}
  
       
  {{else}}
    <a
      class="btn btn-primary btn-lg"
      href="/auth/signin"
      role="button"
    >Login</a>
  {{/each}}

</div>